$black: #222;
$white: #fff;
$grey: #bfbfbf;
$brand-primary: #660678;

$bg-app-header: $white;
$text-headers: #fff;
$text-body: $black;
$window-bg: $grey;

$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
$font-headers: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;